//Partial sass file because of file name starting with underscore
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gery-dark: #777;
$color-white: #fff;
$color-black: #000;
